Django==4.1
python_dotenv==0.20.0
django-jazzmin==2.5.0
drf_yasg==1.21.3
djangorestframework-simplejwt==5.2.0
django-filter==22.1
Pillow==9.2.0
django-ckeditor==6.5.0
django-redis==5.2.0
django-cors-headers==3.13.0
psycopg2-binary==2.9.3
cloudinary==1.29.0
django-phonenumbers==1.0.1
django-phonenumber-field==6.4.0
django-redis==5.2.0